<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>Hey, you've found the treasure, Congratulations!</p>
    <p>you are the <%= @winner.id.ordinalize %> treasure hunter who has found the treasure. </p>
    <p><b>Treasure Location</b></p>
    <p>Treasure latitude: <%= @treasure_latitude %></p>
    <p>Treasure longitude: <%= @treasure_longitude %></p>
  </body>
</html>